@model DAL.tblInvertory

@{ ViewData["Title"] = "Register";
    var user = User.Identity.Name; }


<div class="content-wrapper">
    <div class="container">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Edit</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Dashboard</a></li>
                            <li class="breadcrumb-item active">Detail Inventory</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <!-- SELECT2 EXAMPLE -->
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Detail Inventory </h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-remove"></i></button>
                        </div>
                    </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12" data-select2-id="36">
                                    <div class="form-group">
                                        <label>Category</label>
                                        <input type="text" asp-for="tblCategory.CategoryName" class="form-control" >
                                    </div>
                                    <div class="form-group">
                                        <label>Computer Type</label>
                                        <input type="text" asp-for="ComputerType" class="form-control"  >
                                    </div>
                                    <div class="form-group">
                                        <label>Processor</label>
                                        <input type="text" asp-for="Processor" class="form-control" >
                                    </div>
                                    <div class="form-group">
                                        <label>Brand</label>
                                        <input type="text" asp-for="Brand" class="form-control" >
                                        <span asp-validation-for="Brand" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Usb Ports</label>
                                        <input type="number" asp-for="UsbPorts" class="form-control" >
                                    </div>
                                    <div class="form-group">
                                        <label>Ram Slots</label>
                                        <input type="number" asp-for="RamSlots" class="form-control" >
                                    </div>
                                    <div class="form-group">
                                        <label>From Factor</label>
                                        <input type="text" asp-for="FromFactor" class="form-control" >
                                    </div>
                                    <div class="form-group">
                                        <label>Quantity</label>
                                        <input type="text" asp-for="Quantity" class="form-control" >
                                    </div>
                                    <div class="form-group">
                                        <label>Screen Size</label>
                                        <input type="text" asp-for="ScreenSize" class="form-control" >
                                    </div>
                                </div>
                                <!-- /.col -->
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->

                        </div>
                      
                </div>
                <!-- /.card -->

            </div><!-- /.container-fluid -->
        </section>
    </div>
</div>


